.git
.github
.idea
.env
docker/mysql/data
docker/redis/data
docker/uploadPath
docker/registry/data
ruoyi-ui-vue3/node_modules
ruoyi-ui-vue3/dist
ruoyi-ui-vue3/.vite-cache
**/target
asset-management-code-for-hr
hr-desktop-copy-check
hr-desktop-zip-check
hr-ops-code-package
**/.DS_Store
*.log
